{%include 'layout.njk' %}
<div class="container">
  <div class="container-form">
    <div class="random-img">
      <h1>Cadastre-se</h1>
    </div>
    <div class="form">
      <form method="post">
        <h1>Crie uma conta</h1>
        <ul>
          <li><img src="/icons/facebook.svg" alt=""></li>
          <li><img src="/icons/google-plus.svg" alt=""></li>
          <li><img src="/icons/linkedin.svg" alt=""></li>
        </ul>

        <p>ou use seu email para se registrar</p>
        <div class="item">
          <i class="material-icons">person</i>
          <input type="text" name="name" placeholder="Nome">
        </div>
        <div class="item">
          <i class="material-icons">email</i>
          <input type="email" name="email" placeholder="Email">
        </div>
        <div class="item">
          <i class="material-icons">lock</i>
          <input type="password" name="password" placeholder="Senha">
        </div>
        <input type="submit" value="Cadastrar">
      </form>
    </div>

  </div>
</div>